{% extends 'base.html' %}
{% load static %}
{% load highlight %}

{% block title %}
Explore Pastes
{% endblock title %}



{% block content %}
<div class="my-8">
    <h3
        class="btn w-full my-6 btn-ghost cursor-default font-bold text-center text-xl bg-clip-text text-transparent antialiased bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 border-none">
        Explore Public Pastes</h3>
    <div class="grid lg:auto-cols-auto auto-rows-auto lg:grid-cols-2 gap-10">
        {% for paste in pastes  %}
        <div class="card bg-base-200 gap-3 min-w-full">
            <div class="card-body">
                <div class="flex flex-row md:gap-4 gap-2 w-full">
                    <h2 class="card-title self-center font-semibold">{{paste.author|title}}
                    </h2>
                    <div class="self-center badge badge-outline badge-sm text-[0.60rem]">
                        {{paste.language}}
                    </div>
                    <div class="self-center ml-auto">
                        <div class="flex flex-row gap-1">
                            <div class="bg-[var(--fallback-bc,oklch(var(--bc)/0.2))] text-xs px-1 rounded-lg">
                                <span>
                                    Public
                                </span>
                            </div>
                            {% if paste.editable %}
                            <div class="bg-[var(--fallback-bc,oklch(var(--bc)/0.2))] text-xs px-1 rounded-lg">
                                <span>
                                    Editable
                                </span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="text-wrap">
                    {{ paste.text|highlight:paste.language|truncatewords_html:50|safe }}
                </div>
                <div class="card-actions justify-end mt-auto my-2">

                    <div id="copy{{paste.id}}" class="tooltip tooltip-bottom" data-tip="copy">
                        <button onclick="copyText(`{{paste.id}}`,`{{paste.text}}`);"
                            class="btn bg-[#6b6b6b38] hover:bg-[#6b6b6b59] cursor-copy">
                            <svg viewBox="0 0 1024 1024" class="icon w-8" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path d="M589.3 260.9v30H371.4v-30H268.9v513h117.2v-304l109.7-99.1h202.1V260.9z"
                                        fill="#E1F0FF"></path>
                                    <path d="M516.1 371.1l-122.9 99.8v346.8h370.4V371.1z" fill="#E1F0FF"></path>
                                    <path d="M752.7 370.8h21.8v435.8h-21.8z" fill="#446EB1"></path>
                                    <path d="M495.8 370.8h277.3v21.8H495.8z" fill="#446EB1"></path>
                                    <path d="M495.8 370.8h21.8v124.3h-21.8z" fill="#446EB1"></path>
                                    <path d="M397.7 488.7l-15.4-15.4 113.5-102.5 15.4 15.4z" fill="#446EB1"></path>
                                    <path d="M382.3 473.3h135.3v21.8H382.3z" fill="#446EB1"></path>
                                    <path d="M382.3 479.7h21.8v348.6h-21.8zM404.1 806.6h370.4v21.8H404.1z"
                                        fill="#446EB1"></path>
                                    <path
                                        d="M447.7 545.1h261.5v21.8H447.7zM447.7 610.5h261.5v21.8H447.7zM447.7 675.8h261.5v21.8H447.7z"
                                        fill="#6D9EE8"></path>
                                    <path d="M251.6 763h130.7v21.8H251.6z" fill="#446EB1"></path>
                                    <path
                                        d="M251.6 240.1h21.8v544.7h-21.8zM687.3 240.1h21.8v130.7h-21.8zM273.4 240.1h108.9v21.8H273.4z"
                                        fill="#446EB1"></path>
                                    <path
                                        d="M578.4 240.1h130.7v21.8H578.4zM360.5 196.5h21.8v108.9h-21.8zM382.3 283.7h196.1v21.8H382.3zM534.8 196.5h65.4v21.8h-65.4z"
                                        fill="#446EB1"></path>
                                    <path
                                        d="M360.5 196.5h65.4v21.8h-65.4zM404.1 174.7h152.5v21.8H404.1zM578.4 196.5h21.8v108.9h-21.8z"
                                        fill="#446EB1"></path>
                                </g>
                            </svg>
                        </button>
                    </div>
                    <a href="{% url 'view_paste' paste.token %}"
                        class="btn bg-[#6b6b6b38] hover:bg-[#6b6b6b59]">View</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="flex flex-col w-full mt-8 items-center">
        <div class="join">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="join-item btn btn-sm">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"
                class="join-item btn btn-sm">{{ page_obj.previous_page_number }}</a>
            {% endif %}
            <button class="join-item btn btn-sm btn-disabled">{{ page_obj.number }}</button>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"
                class="join-item btn btn-sm">{{ page_obj.next_page_number }}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="join-item btn btn-sm">Last</a>
            {% endif %}
        </div>
        <span class="text-xs font-semibold p-1">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    </div>
</div>
{% endblock content %}